.firstDiv {
	color: blue;
}

.secondDiv {
	color: red;
}

#singledout {
	color: green;
	text-decoration: line-through;
}

/*Below syntax overwrites everything except the ids*/
/** {
	color: black;
}*/

h3 + ul {
	border: 4px dotted purple;
}

li a {
	color: red;
}

li a[href="https://www.google.com"] {
	color: blue;
	border: 5px solid orange;
}